In [1]:
## Install libraries
!pip install pandas
!pip install sodapy
!pip install pymssql
import pymssql
from getpass import getpass
import pandas as pd
from sodapy import Socrata

Requirement already satisfied: pandas in c:\users\fdose\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\fdose\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\fdose\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\fdose\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\fdose\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sodapy in c:\users\fdose\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\fdose\anaconda3\lib\site-packages (from sodapy) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\fdose\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fdose\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\fdose\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\fdose\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.10)
Requirement already satisfied: pymssql in c:\users\fdose\anaconda3\lib\site-packages (2.2.2)

In [3]:
#Acquiring Voting Data from King County Open Data
#https://data.kingcounty.gov/Voting-Elections/2019-General-Election-Final-Precinct-Level-Results/xmnh-jvpd/data

#Uvg3EEyR1TnfEqwO6UMA3NJbS

MyAppToken = getpass()

client = Socrata("data.kingcounty.gov",
                 MyAppToken,
                  username="dongsoomikeseo@gmail.com",
                 password=getpass())

#set limit higher than the total data row
results = client.get("xmnh-jvpd", limit = 509000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

········
········

In [4]:
#sneak peek!
results_df

,precinct,race,leg,cc,cg,countergroup,party,countertype,sumofcount
0,SHL 32-0001,City of Shoreline Council Position No. 2,32,1,7,Total,NP,Registered Voters,544
1,SHL 32-0001,City of Shoreline Council Position No. 2,32,1,7,Total,NP,Times Counted,178
2,SHL 32-0001,City of Shoreline Council Position No. 2,32,1,7,Total,NP,Times Under Voted,26
3,SHL 32-0001,City of Shoreline Council Position No. 2,32,1,7,Total,<NP>,Vivian Collica,53
4,SHL 32-0001,City of Shoreline Council Position No. 2,32,1,7,Total,<NP>,Keith Patrick Scully,99
...,...,...,...,...,...,...,...,...,...
508716,ELECTIONS OFFICE,King County Advisory Vote No. 28,0,0,9,Total,NP,Times Counted,2
508717,ELECTIONS OFFICE,King County Advisory Vote No. 28,0,0,9,Total,NP,Times Under Voted,0
508718,ELECTIONS OFFICE,King County Advisory Vote No. 28,0,0,9,Total,<NP>,Repealed,0
508719,ELECTIONS OFFICE,King County Advisory Vote No. 28,0,0,9,Total,<NP>,Maintained,2
508720,ELECTIONS OFFICE,King County Advisory Vote No. 28,0,0,9,Total,NP,Times Over Voted,0

In [7]:
#Data type check and conversion
results_df.dtypes
cols = ['sumofcount']
results_df[cols] = results_df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

precinct        object
race            object
leg             object
cc              object
cg              object
countergroup    object
party           object
countertype     object
sumofcount       int64
dtype: object

In [8]:
#conversion success!
results_df.dtypes

precinct        object
race            object
leg             object
cc              object
cg              object
countergroup    object
party           object
countertype     object
sumofcount       int64
dtype: object

In [9]:
#single out only Initiative 976 data 
only976 =results_df.loc[(((results_df['race'] == 'King County Initiative Measure No. 976')&(results_df['countertype'] == 'Yes'))|\
                ((results_df['race'] == 'King County Initiative Measure No. 976')&(results_df['countertype'] == 'No')))]
only976

,precinct,race,leg,cc,cg,countergroup,party,countertype,sumofcount
35,SHL 32-0001,King County Initiative Measure No. 976,32,1,7,Total,<NP>,Yes,63
36,SHL 32-0001,King County Initiative Measure No. 976,32,1,7,Total,<NP>,No,107
235,LFP 46-0003,King County Initiative Measure No. 976,46,1,7,Total,<NP>,Yes,103
236,LFP 46-0003,King County Initiative Measure No. 976,46,1,7,Total,<NP>,No,157
450,BUR 33-0009,King County Initiative Measure No. 976,33,8,7,Total,<NP>,Yes,64
...,...,...,...,...,...,...,...,...,...
508206,AUB 47-3812,King County Initiative Measure No. 976,47,7,8,Total,<NP>,No,27
508400,RNT 05-3813,King County Initiative Measure No. 976,5,9,8,Total,<NP>,Yes,2
508401,RNT 05-3813,King County Initiative Measure No. 976,5,9,8,Total,<NP>,No,5
508602,ELECTIONS OFFICE,King County Initiative Measure No. 976,0,0,9,Total,<NP>,Yes,0
508603,ELECTIONS OFFICE,King County Initiative Measure No. 976,0,0,9,Total,<NP>,No,2

In [10]:
#single out only Initiative 976 data : Calculate the sum of "Yes" and "No"  
only976YesNoSum =only976[['precinct','race','sumofcount']].groupby(['precinct','race']).sum()

only976YesNoSum_final =only976YesNoSum.reset_index()

only976YesNoSum_final

           precinct                                    race  sumofcount
0             ADAIR  King County Initiative Measure No. 976         387
1           ALDARRA  King County Initiative Measure No. 976         420
2     ALDER SPRINGS  King County Initiative Measure No. 976         270
3         ALDERWOOD  King County Initiative Measure No. 976         477
4       ALG 30-0013  King County Initiative Measure No. 976         161
...             ...                                     ...         ...
2607       WOODSIDE  King County Initiative Measure No. 976         248
2608        WYNOCHE  King County Initiative Measure No. 976         203
2609         WYNONA  King County Initiative Measure No. 976         230
2610    YPT 48-1233  King County Initiative Measure No. 976         204
2611    YPT 48-1234  King County Initiative Measure No. 976         204

[2612 rows x 3 columns]

In [11]:
#single out only Initiative 976 data : only keep "No" and then merge it to the table above
only976no = only976.loc[only976['countertype'] =='No']
only976no =only976no[['precinct','countertype','sumofcount']]
only976merged = only976YesNoSum_final.merge(only976no, on='precinct')
only976merged

,precinct,race,sumofcount_x,countertype,sumofcount_y
0,ADAIR,King County Initiative Measure No. 976,387,No,221
1,ALDARRA,King County Initiative Measure No. 976,420,No,204
2,ALDER SPRINGS,King County Initiative Measure No. 976,270,No,103
3,ALDERWOOD,King County Initiative Measure No. 976,477,No,275
4,ALG 30-0013,King County Initiative Measure No. 976,161,No,33
...,...,...,...,...,...
2607,WOODSIDE,King County Initiative Measure No. 976,248,No,121
2608,WYNOCHE,King County Initiative Measure No. 976,203,No,73
2609,WYNONA,King County Initiative Measure No. 976,230,No,141
2610,YPT 48-1233,King County Initiative Measure No. 976,204,No,110
2611,YPT 48-1234,King County Initiative Measure No. 976,204,No,100

In [12]:
#calculate the propotion of "NO"
only976merged['no_percent'] = only976merged['sumofcount_y'] / only976merged['sumofcount_x']
only976merged

,precinct,race,sumofcount_x,countertype,sumofcount_y,no_percent
0,ADAIR,King County Initiative Measure No. 976,387,No,221,0.571059
1,ALDARRA,King County Initiative Measure No. 976,420,No,204,0.485714
2,ALDER SPRINGS,King County Initiative Measure No. 976,270,No,103,0.381481
3,ALDERWOOD,King County Initiative Measure No. 976,477,No,275,0.576520
4,ALG 30-0013,King County Initiative Measure No. 976,161,No,33,0.204969
...,...,...,...,...,...,...
2607,WOODSIDE,King County Initiative Measure No. 976,248,No,121,0.487903
2608,WYNOCHE,King County Initiative Measure No. 976,203,No,73,0.359606
2609,WYNONA,King County Initiative Measure No. 976,230,No,141,0.613043
2610,YPT 48-1233,King County Initiative Measure No. 976,204,No,110,0.539216
2611,YPT 48-1234,King County Initiative Measure No. 976,204,No,100,0.490196

In [ ]:
only976 =results_df.loc[(((results_df['race'] == 'King County Initiative Measure No. 976')&(results_df['countertype'] == 'Yes'))|\
                ((results_df['race'] == 'King County Initiative Measure No. 976')&(results_df['countertype'] == 'No')))]
only976